{% extends 'admin/backbase.html' %}

{% block content %}
<div class="place-content-center">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <td class = "border border-purple-800 border-2 rounded-lg p-2">Exemple de titre</td>
      <td class = "border border-purple-800 border-2 rounded-lg p-2">Concentre toi et imagine un meme</td>
      <td class = "border border-purple-800 border-2 rounded-lg p-2"><img src="https://cdn.discordapp.com/attachments/951836455511142442/1232391799620894730/image.png?ex=662949cd&is=6627f84d&hm=8d3c522d0c9396e84025baf8d249e3d1802b604e419263bc6646ed96f252b3aa&"></td>
      <td class = "border border-purple-800 border-2 rounded-lg p-2"><a href="">Read</a></td>
      <td class = "border border-purple-800 border-2 rounded-lg p-2"><a href="">Update</a></td>
      <td class = "border border-purple-800 border-2 rounded-lg p-2"><a href="">Delete</a></td>
    </tbody>
  </table>
</div>
{% endblock %}