@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&family=Noto+Sans+Khojki&display=swap')

.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*
va te reposer >:(
AHAHAHAHAH
*/

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: Atk;
  font-align: center;}
footer {font-family: Atk; font-weight: 700; font-align: center}


/*
gray-900
bg-gray-900

zinc-200
text-zinc-200

blue-800
border-solid border-2 rounded-lg p-3 border-gray-900 hover:shadow-lg hover:text-zinc-200 hover:bg-gray-900 hover:duration-200 hover:border-blue-800 bg-blue-800 text-xl col-start-2 flex justify-center border-2
*/