<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <script defer src="static/script.js"></script> -->
  <title>NEALE</title>

</head>

<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}"/> 
<body class="bg-gray-900 border-blue-800 border-solid border-2 rounded-lg p-3">


  <header class="bg-gray-900 flex justify-between py-12 ">
    <h1 class="text-3xl">NEALE</h1>

    <nav>
      <ul class="flex space-x-10">
        <li class="bg-gray-900 border-blue-800 border-solid border-2 rounded-lg p-3"><a href="/">Homepage</a></li>
        {% if session['user'] %}
        <li class="bg-gray-900 border-blue-800 border-solid border-2 rounded-lg p-3"><a href="/logout">Log Out</a></li>
        <li class="bg-gray-900 border-blue-800 border-solid border-2 rounded-lg p-3"><a href="/memes/new">New Meme</a></li>
        {% else %}
        <li class="bg-gray-900 border-blue-800 border-solid border-2 rounded-lg p-3"><a href="/login">Log In</a></li>
        <li class="bg-gray-900 border-blue-800 border-solid border-2 rounded-lg p-3"><a href="/signup">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>


  <main class="bg-gray-900 border-blue-800 border-solid border-2 rounded-lg p-3">
    <!-- Corps de page -->
    {% block content %}

    {% endblock %}
  </main>


  <footer class="bg-gray-900 p-5 text-align">
    <p> Aucune idée teehee~ </p>
  </footer>


  </body>
</html>