{% extends 'base.html' %}

{% block content %}

<div class="grid grid-cols-2 gap-4">
  
  {% for memes in memes %}
  
  <div class="border-solid border-2 rounded-lg p-3 border-gray-900 hover:shadow-lg hover:text-zinc-200 hover:bg-gray-900 hover:duration-200 hover:border-blue-800 bg-blue-800 text-xl flex justify-center border-2">
    
    <a class="w-full" href="/memes/one_meme/{{memes['_id']}}">
      <img class="self-center" src={{memes['image']}}">
      <idk class="self-end">{{memes['auteur']}}</idk>
      <idk class="self-end">{{memes['description']}}</idk>
      
    </a>
    
  </div>
  
  {% endfor %}
</div>
  
{% endblock %}