{% extends "base.html" %}

{% block content %}
  <form method="POST" action="" name="form" class=" border-2 border-black shadow-xl rounded-lg py-6 px-16 ml-5">
    {% if erreur %}
      <div class="py-5">
        <label>
          {{erreur}}
        </label>
        <br/>
      </div>
    {% endif %}
        <label class="flex text-xl pb-2">
        Nom d'Utilisateur
      </label>
      <div class="flex border-2 rounded-lg p-1 border-black bg-white h-16">
        <input name="username" type="text" placeholder="name here" class="border-none focus:outline-none"/>
      </div>
    <div class="py-5">
      <label class="flex text-xl pb-2">
        Mot de Passe
      </label>
      <div class="flex justify-arround border-2 rounded-lg p-1 border-black bg-white">
        <input name="password" type="password" placeholder="password" class="border-none focus:outline-none" id="SignupPassord"/>
        <img id="hidebutton2" src="static/hidden.png" class="box-border w-16 h-16 p-4"/>
      </div>
    </div>
    <div class="py-5">
      <label class="flex text-xl pb-2">
        Confirmation du Mot de Passe
      </label>
      <div class="flex justify-arround border-2 rounded-lg p-1 border-black bg-white">
        <input name="password_verif" type="password" placeholder="password" class="border-none focus:outline-none" id="PasswordConfirm"/>
        <img id="hidebutton3" src="static/hidden.png" class="box-border w-16 h-16 p-4">
      </div>
    </div>
    <div type="submit" onClick="document.form.submit()" class="rounded-lg border-black p-2 border-2 hover:shadow-lg hover:duration-200">S'Inscrire</div>
  </form>
{% endblock %}