{% extends "base.html" %}

{% block content %}

<div class="w-full flex-end">
  <div class="flex justify-center"></div>
    <h2 class="text-center">PSEUDO</h2>
    <div class="bg-gray-900 border-blue-800 border-solid border-2 rounded-lg p-5 m-5">
      <p class="text-center">Ici on mettra la description de l'utilisateur qu'il pourra taper lui même.</p>
    </div>  
</div>

<!-- db_users = mongo.NEALE.users
user = db_users.find_one({'username': request.form['username']})
  if 'user' not in session: 
    return render_template("login.html", erreur="You must log in to see your personnal profile, bro.")
  if request.method == 'POST':
    db_users = mongo.NEALE.users
    # On récupère ce que l'utilisateur a rempli dans le formulaire
    username = request.form['username']
    description = request.form['description']
    image = request.form['image']
    # Si les champs titre et description sont remplis
    if (title and description and image):
      # On insère dans la bdd les nouvelles données
      db_memes.insert_one({
        'title': title,
        'description': description,
        'image': image,
        'creator':session['user'],
        'date':str(date.today())
      })
 -->




{% endblock %}